#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.maze-button {
    background-color: lightblue;
    margin: 10px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}

.maze-button:hover {
    background-color: deepskyblue;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid white;
}

.cell.wall {
    background-color: black;
}

.cell.path {
    background-color: white;
}

.cell.start {
    background-color: green;
}

.cell.end {
    background-color: red;
}